// globl transition css

/*fade*/
.fade-enter-active,
.fade-leave-active {
  // transition 属性是一个简写属性，用于设置四个过渡属性（过渡效果的 CSS 属性、需要多少秒或毫秒、速度效果的速度曲线、何时开始）。
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  // opacity 属性设置元素的不透明级别
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  // transform 属性向元素应用 2D 或 3D 转换。该属性允许我们对元素进行旋转、缩放、移动或倾斜。
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  // position 属性规定元素的定位类型。
  position: absolute;
}
